# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
.env
.env.local
.env.*.local

# Build output
dist/
build/
coverage/

# IDE or Editor-specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary files
*.tmp
*.temp
*.cache
*.bak

# Testing output
coverage/
.nyc_output/